$fontSizeBase: 10px;
$primary: rgb(77, 189, 241);
$success: rgb(92, 153, 22);
$warning: rgb(250, 167, 12);
$info: rgb(238, 80, 80);
$danger: rgb(190, 51, 255);
$dark: rgb(0, 228, 171);
$light: rgb(150, 56, 56);

/**************/
$primaryLabel: 'primary';
$successLabel: 'success';
$warningLabel: 'warning';
$dangerLabel: 'danger';
$infoLabel: 'info';
$darkLabel: 'dark';

/***********/
$shadow: 2px 2px 5px 2px rgba(151, 148, 148, 0.828);

/*************************************************************
    Variables para estilos asociados al titulo: LISTAS, MAPAS
 ************************************************************/
 $listFonts: 'xl' 25px bolder, 'xm' 20px bold, 'xs' 15px 300;

